<article class="item">
  <div class="title">
    <a class="post-link" href="/post/{{id}}">{{title}}</a>
    <div class="meta">
      Created by {{user.username}} on {{format_date created_at}}
      |
      <a class="post-link" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    <br />
    <span>{{post_text}}</span>
  </div>
</article>