<article class="item">
  <div class="title">
    <a href="{{post_text}}" target="_blank">{{title}}</a>
    <span>({{post_text}})</span>
  </div>
  <div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>