<article>
  <a href="/my-stuff"> &larr; Back to My Stuff</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
      <label for="post-text">Text</label>
      <textarea name="post-text" type="text">{{post.post_text}}</textarea>
    </div>
    <div>
      Created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <h2>
    Add a comment
  </h2>
  <div>
    <textarea name="comment-body" placeholder="What would you like to say?"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}
{{#if loggedIn}}
<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>
{{/if}}