<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>